@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main{
  display: grid;
  grid-template-areas: 
  'left-gutter nav nav nav right-gutter'
  'left-gutter banner banner banner right-gutter'
  'left-gutter masonry-grid masonry-grid masonry-grid right-gutter';
}

.article-content{
  grid-area: article-content;
  width: 100%;
}

.article{
  display: grid;
  grid-template-areas: 
    'left-gutter article-content right-gutter'
  ;
  grid-template-columns: [first] auto [line2] 75vw [line3] auto;
}

.highlight{
  grid-template-columns: 58% auto;
}

.navigation {
  grid-area: nav;
  height: 150px;
}

.left-gutter{
  grid-area: left-gutter;
  width: 6.5vw;
}

.banner{
  grid-area: banner;
  height: auto;
}

.masonry-grid{
  grid-area: masonry-grid;
}

.right-gutter{
  grid-area: right-gutter;
  width: 6.5vw;
}

.my-masonry-grid {
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
  background: transparent;
  margin-bottom: 30px;
}

@media (max-width: 800px) {
  .my-masonry-grid {
    margin-left: -15px; /* gutter size offset */
  }
  .my-masonry-grid_column {
    padding-left: 15px; /* gutter size offset */
  }
  .my-masonry-grid_column > div {
    margin-bottom: 15px; /* space between items */
  }
}

@media (max-width: 600px) {
  .article{
    grid-template-columns: [first] auto [line2] 90vw [line3] auto;
  }
}