@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main{
  display: grid;
  grid-template-areas: 
  'left-gutter nav nav nav right-gutter'
  'left-gutter banner banner banner right-gutter'
  'left-gutter masonry-grid masonry-grid masonry-grid right-gutter';
}

.highlight{
  grid-template-columns: 58% auto;
}

.navigation {
  grid-area: nav;
  height: 150px;
}

.left-gutter{
  grid-area: left-gutter;
  width: 30px;
}

.banner{
  grid-area: banner;
  height: auto;
}

.masonry-grid{
  grid-area: masonry-grid;
}

.right-gutter{
  grid-area: right-gutter;
  width: 30px;
}

@media only screen and (max-width: 600px) {
  .right-gutter{
    width: 20px;
  }

  .left-gutter{
    width: 20px;
  }
}